/* Container Style Query — querying a CSS custom property */
.cards-container {
  --theme: dark;
  
  background-color: #808080;
}

@container style(--theme: dark) {
  .card__body {
    background-color: #111;
    color: #fff;
  }
}