/* Container Style Query — querying a CSS declaration */
/* Not yet supported */
.cards-container {
  background-color: #808080;
}

@container style(background-color: #808080) {
  .card__body {
    background-color: #111;
    color: #fff;
  }
}
