/* Container Style Query — querying a CSS declaration */
/* Not yet supported */
.cards-container {
  background-color: var(--grey);
}

@container style(background-color: #808080) {
  .card__body {
    background-color: var(--black);
    color: var(--white);
  }
}
