/* No container name pitfall */
.cards-container {
    --theme: dark;
    
    background-color: var(--grey);
}

.card {
    --theme: light;
}

/* Style query isn't applied because direct parent doesn't meet condition */
@container style(--theme: dark) {
  .card__body {
    background-color: var(--black);
    color: var(--white);
  }
}