/* No container name pitfall */
.cards-container {
    --theme: dark;
    
    background-color: #808080;
}

.card {
    --theme: light;
}

/* Style query isn't applied because direct parent doesn't meet condition */
@container style(--theme: dark) {
  .card__body {
    background-color: #111;
    color: #fff;
  }
}